@font-face { 
	font-family: 'Gilroy'; 
	src: url('../fonts/Gilroy-ExtraBold.eot'); 
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), 
	url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-ExtraBold.woff') format('woff'), 
	url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'); 
	font-weight: 800; 
	font-style: normal; 
} 

@font-face { 
	font-family: 'Gilroy'; 
	src: url('../fonts/Gilroy-Light.eot'); 
	src: local('Gilroy Light'), local('Gilroy-Light'), 
	url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/Gilroy-Light.woff') format('woff'), 
	url('../fonts/Gilroy-Light.ttf') format('truetype'); 
	font-weight: 300; 
	font-style: normal; 
}

body {
	font-family: Gilroy, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
	/*border: yellow solid thin;*/
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.center {
	text-align: center;
}

.smallText{
	font-size: 22px;
}

.medText{
	font-size: 40px;
}

.bigText {
	font-size: 50px;
}

.noMargin {
	margin: 0;
}

header {
	height: 100vh;
	background: #1A1414 url('../img/background2.png') no-repeat center center / cover;
	color: white;
	text-align: center;
}

nav {
	padding-top: 30px;
}

.menu {
	padding: 0;
	padding-top: 6px;
	margin: 0;
}

.menu li {
	float: left;
	display: block;
	margin-right: 28px;
}

.menuItem {
	color: white;
	text-decoration: none;
	font-size: 22px;
}

.menu li p {
	display: block;
	float: right;
	font-size: 24px;
	margin: 0;
}

.reg {
	border: white thin solid;
	border-radius: 16px;
	background: white;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 14px;
	padding-left: 14px;
	color: #542B87;
	font-size: 22px;
	text-decoration: none;
}

.mainLogo{
	margin-top: 9vh;
	margin-bottom: 6vh;
	width: 320px;
}

h1 {
	font-size: 66px;
	margin-top: 0;
	margin-bottom: 3vh;
}

.headDiscr {
	margin-top: 0;
}

#about {
	padding-top: 60px;
	background: #FAFAFA;
}

.iconSocial {
	font-size: 4em;
	color: #542B87;
}

.aboutMain {
	margin-bottom: 70px;
}

.links {
	text-align: center;
	margin-bottom: 60px;
}

.mainVideo {
	padding-bottom: 50px;
}

#program {
	padding-top: 20px;
	padding-bottom: 50px;
	background: #ECECEC;
}

#program h2 {
	margin-bottom: 30px;
}

#program p {
	margin-bottom: 40px;
	color: #542B87;
}

table img {
	height: 52px;
}

#program table {
	font-size: 35px;
}

#program td {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.member {
	font-weight: bold;
}

#photo-wall {
	background: #121212;
	padding-top: 30px;
	padding-bottom: 60px;
	color: white;
}

.gallery {
	text-align: center;
}

.gallery img {
	margin: 1px;
	border: 3px solid #FFF;
}

a.photo:hover img{
	border: 3px solid #754CA8;
}

#place {
	background: #ECECEC;
	padding-top: 30px;
	padding-bottom: 50px;
}

#place p {
	margin-bottom: 30px;
	font-size: 35px;
}

#place a {
	text-align: center;
	text-decoration: none;
	color: #542B87;
	display: block;
	font-size: 30px;
	margin-top: 0;
	padding-bottom: 30px;
}

#place img {
	margin-left: 62px;
}

#reg{
	padding-top: 30px;
	padding-bottom: 40px;
	background: #FAFAFA;
}

#reg p {
	font-size: 24px;
	margin: 20px;
	margin-bottom: 30px;
}

.iconArrow {
	text-align: center;
	font-size: 32px;
	color: #542B87;
}

.inputRequest {
	margin-top: 20px;
	margin-left: 170px;
	width: 580px;
	padding: 10px;
	font-size: 25px;
}

.button {
	border: solid thin #542B87;
	border-radius: 26px;
	font-size: 28px;
	margin-top: 40px;
	margin-left: 330px;
	background: #542B87;
	color: white;
	width: 300px;
	padding: 10px;
}

.button:disabled {
	background: #DDD;
	border-color: #DDD;
}

.confirm {
	margin-top: 20px;
	margin-left: 165px;
	width: 600px;
	padding: 10px;
	font-size: 21px;
	color: #542B87;
	text-align: center;
}

#contacts {
	background: #373737;
	padding-top: 20px;
	padding-bottom: 50px;
	color: white;
}

#contacts p {
	font-size: 30px;
	margin: 20px;
}

footer {
	padding: 0;
	margin: 0;
	background: #121212;
	color: #754CA8;
	padding-top: 1px;
	padding-bottom: 20px;
}

footer p {
	font-size: 26px;
}

footer img {
	height: 80px;
	padding-left: 60px;
}














